
/* GEN BODY SECTION */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    background-color: white;
}
/* ^^^ GEN BODY SECTION ^^^ */



/* FROG VIDEO INTRO */

.container { 
    width: 100%;
    height: 100%;
}

.intro, .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-top: -30vh;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif !important;
    text-align: center;
}

.fixed-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ^^^ FROG VIDEO INTRO ^^^ */



/* HEADER SPECS */
h2 {
    margin: 0 0 20px 0;
    font-size: 15px;
}

h2-2 {
    margin: 0 0 20px 0;
    font-size: 15px;
    font-weight: 500;
}

h3 {
    margin: 0 0 20px 0;
    font-size: 15px;
}

h4 {
    margin-bottom: -200px;
    text-align: center;
    font-weight: lighter;

}
/* ^^^ HEADER SPECS ^^^ */




/* AOS ANCHOR */
.spacer {
    height: 0px; 
}
/* ^^^ AOS ANCHOR ^^^ */




/* PAGE BUTTONS */
.top-nav {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 100;
    display: flex;
    gap: 75px;
}

.top-button {
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #333;
    background-color: transparent;
}

.page-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #070707;
    background-color: #fdfdfd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.page-button:hover {
    background-color: #fbfbfc;
}
/* ^^^ PAGE BUTTONS ^^^ */



/* GITHUB LINK BUTTON AND TEXT SECTION */
.content-wrapper1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    margin-top: -140px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column; 
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;  
}

.content-section4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-section4 a img {
    max-width: 70px; 
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-section4 a:hover img {
    transform: scale(1.1);
    cursor: pointer;
}
/* ^^^ GITHUB LINK BUTTON AND TEXT SECTION ^^^ */




/* PROJECT CONTAINERS SECTION */
.bio-container6 {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(202, 202, 202, 0.1);
    width: 95%; 
    margin-top: 20px; 
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper6 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bio-image6 {
    width: 28%; 
    margin-right: 20px; 
}

.bio-text6 {
    width: 72%; 
}

.content-section6 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
   
}
/* PROJECT CONTAINERS SECTION */




